@import '@styles/base/fonts';
@import '@styles/base/palette';

.title {
  font-family: $font-montserrat;
  font-weight: 600;
  font-size: 3em;
  margin: 0;
  color: $color-white;
  @media screen and (max-width: 768px) {
    font-size: 2.5em;
  }
}

.text-emphasis {
  color: $color-red-redbull;
}
