@keyframes fadeInDown {
  from {
    transform: translateY(-40%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomingEntrance {
  from {
    transform: scale(1.25);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomingEntrance45 {
  from {
    transform: scale(1.15);
    transform: translate(45%, -100%);
    opacity: 0;
  }
  to {
    transform: scale(1);
    transform: translate(0%, 0%);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
