@import '@styles/base/palette';
@import '@styles/base/fonts';

.vieport__full {
  width: 100%;
  height: 100vh;
  min-height: 100%;
}

.center-full {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-enphasis {
  color: $color-red-redbull;
}

.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-700 {
  font-weight: 700;
}
.font-weight-800 {
  font-weight: 800;
}
.font-weight-900 {
  font-weight: 900;
}

.next__image {
  &-container {
    position: relative;

    width: 100%;

    & > div,
    span {
      position: unset !important;
    }
  }

  &--responsive {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }

  &--cover {
    object-fit: cover;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

.link {
  position: relative;
  color: $color-white;
  transition: all 0.3s;
  font-family: $font-montserrat;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  &:hover {
    color: $color-red-redbull;
  }
}

.button--call-to-action {
  position: relative;
  color: $color-red-redbull;
  transition: all 0.3s ease-in-out;
  font-family: $font-montserrat;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  padding: 1em 2.5em;
  border: 2px solid $color-red-redbull;
  display: inline-block;
  &:hover {
    background-color: $color-red-redbull;
    color: $color-white;
  }
}

.ul__emphasis {
  list-style: none;
  li::before {
    content: '\2022';
    color: $color-red-redbull;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}

//Clase custom - Esclusivo para un margen al cursor del componente Typewriter
.typed-cursor {
  margin-left: 5px;
}
