@import '@styles/base/palette';
@import '@styles/base/fonts';
@import '@styles/utilities/utils';

.experience {
  // background-color: $color-grey-dark;
  width: 100%;
  height: 100%;

  &__timeline {
    position: relative;
    z-index: 1;

    width: 100%;
    height: auto;

    &::before {
      content: '';
      background-color: $color-red-redbull;
      width: 2px;
      height: 100%;
      position: absolute;
      top: 0;
      margin: 0 auto;
      left: 0;
      right: 0;

      z-index: -1;
    }
  }

  &__title-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    background-color: $color-dark-medium;
    border: 2px solid $color-red-redbull;
    font-size: 24px;
    font-family: $font-montserrat;
    font-weight: 500;
    padding: 0.6em 1.5em;
    margin: 0 0 1em 0;

    // text-transform: uppercase;
    color: $color-white;
  }

  &__section {
    width: 100%;
    height: auto;
    display: grid;
    padding: 3em 0;
    gap: 3em 3em;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 434px), 1fr));
    // background-color: rgba($color-grey-dark, 0.9);
  }

  &__dot {
    background-color: $color-dark;
    // border-radius: 50%;
    box-sizing: border-box;
    height: 10px;
    width: 10px;
    border: 2px solid $color-red-redbull;
  }

  &__item {
    // background-color: $color-grey-darker;
    width: 100%;
    height: auto;
    padding: 20px;
  }
}

.up-arrow {
  display: inline-block;
  position: relative;
  border: 1px solid #ff0000;
  text-decoration: none;
  // border-radius: 2px;
  padding: 20px;
  margin-top: 50px;
}
.up-arrow:before {
  content: '';
  display: block;
  position: absolute;
  left: 140px;
  bottom: 100%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #ff0000;
}

.up-arrow:after {
  content: '';
  display: block;
  position: absolute;
  left: 141px;
  bottom: calc(100% - 0.5px);
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-bottom-color: $color-grey-darker;
}

// ---------------------------------------------
// FIXME: pasarlo a componente, agregar propiedades de left top, bottom, right
.left-arrow {
  display: inline-block;
  position: relative;
  border: 1px solid $color-red-redbull;
  border: 1px solid $color-grey-medium;
  text-decoration: none;
  // border-radius: 2px;
  padding: 20px;
  // margin: 50px;
}
.left-arrow:before {
  content: '';
  display: block;
  position: absolute;
  left: -20px;
  top: calc(50% - 10px);
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: $color-red-redbull;
  border-right-color: $color-grey-medium;
}

.left-arrow:after {
  content: '';
  display: block;
  position: absolute;
  left: calc(-18px + 0.5px);
  top: calc(50% - 9px);
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-right-color: $color-grey-darker;
  border-right-color: $color-dark;
  // border-right-color: blue;
}
