@import '@styles/base/palette';
@import '@styles/base/fonts';

.card {
  &__image {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;

    @media screen and (max-width: 768px) {
    }

    &-container {
      width: 100%;
      height: inherit;
      object-fit: cover;
      position: relative;
    }
  }

  &__detail {
    border-radius: 50%;
    position: absolute;
    background-color: $color-red-redbull;
    z-index: 10;
    transition: transform 2s cubic-bezier(0.185, 0.85, 0.45, 1) 0s;
    transform: scale(0);
  }

  &__detail--animated {
    transform: scale(3);
  }

  &__footer {
    padding: 20px;
  }

  &__title {
    font-size: 20px;
    font-family: $font-montserrat;
    text-align: center;
    transition: all 0.5s ease-in-out;
    &:hover {
      color: $color-red-redbull;
      cursor: pointer;
    }
  }
}
