@import '@styles/base/palette';
@import '@styles/base/fonts';
@import '@styles/utilities/utils';

.skills {
  &__title {
    margin: 2em 0 1em 0;
    font-family: $font-poppins;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;

    &:first-child {
      margin-top: 0;
    }
  }

  &__icon {
    width: 22px;
    height: 22px;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 10px;
  }

  &__subtitle {
    margin: 2em 0 0 0;
    font-family: $font-poppins;
    font-weight: 400;
    font-size: 18px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__text {
    @media screen and (max-width: 768px) {
      padding-left: 30px;
    }
    & > li {
      font-family: $font-poppins;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      color: $color-grey-regular;
      margin: 16px 0;
    }
  }

  &__sections {
    background-color: $color-dark-intense;
    // background-color: $color-dark;
    // background-color: $color-dark-medium;
    // background-color: $color-grey-darker;
    // background-color: $color-grey-dark;
    padding: 2.5em 3.5em;
    // border: 1px solid $color-dark-medium;
    // border: 1px solid $color-grey-darker;
    // border: 1px solid $color-grey-dark;
    // border: 1px solid $color-grey-medium;

    // border-radius: 5px;
    // box-shadow: 0 0 2.08333rem rgb(0 0 0 / 50%);

    @media screen and (max-width: 768px) {
      padding: 1.5em 2.5em;
    }
  }

  &__interests {
    display: flex;
    gap: 20px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    & > * {
      margin: 0;
      flex: 1;
    }
  }
}
