@import '@styles/base/palette';
@import '@styles/base/fonts';

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color-dark-intense-rgb, 0.75);
  backdrop-filter: blur(15px) saturate(150%);
  z-index: 1000000;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &__content {
    margin: 30px;
    min-width: 100px;
    min-height: 100px;
    background-color: rgba($color-dark-rgb, 1);
    position: relative;
  }

  &__button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
}
