/*MEDIA QUERyS SIZES*/
@media screen and (max-width: 576px) {
  //576px
  .container {
    background-color: #559da7;
  }
}

@media screen and (min-width: 576px) {
  //576px
  .container {
    background-color: #ff932f;
  }
}

@media screen and (min-width: 768px) {
  //768px
  .container {
    background-color: #c42fff;
  }
}

@media screen and (min-width: 992px) {
  // 992px
  .container {
    // max-width: 960px;
    background-color: #adff2f;
    // TODO: Hacer el menu responsivo en este vieport
  }
}

@media screen and (min-width: 1200px) {
  // 1200px
  .container {
    // max-width: 1152px;
    background-color: #ff0000;
  }
}

@media screen and (min-width: 1400px) {
  // 1400px
  .container {
    // max-width: 1344px;
    background-color: #ffff00;
  }
}

@media screen and (min-width: 1820px) {
  .container {
    // max-width: 1600px;
    background-color: #2041ff;
  }
}
