$color-dark: #141414;
$color-dark-rgb: rgb(20, 20, 20);
$color-dark-medium: #181919;
$color-dark-medium-rgb: rgb(24, 25, 25);
$color-dark-intense: #111111;
$color-dark-intense-rgb: rgb(17, 17, 17);
$color-green-standard: #4bffa5;
// $color-red-cereza: #c51d34; //cereza
$color-red-redbull: #dd013f; // redBull
$color-red-redbull: #c32865; // redBull TO TEST
// $color-red-themeweb: #c32865;
$color-red-inheritance: #ff4579; // inheritance
$color-blue-standard: #0084ff;
$color-blue-regular: #009cff;
$color-green-react: #24fc89;
$color-green-inheritance: #8dff8d;
// $color-white: #d1dfff;
$color-white: #e7eeff;
$color-white-rgb: rgb(231, 238, 255);
// $color-white: #ffffff;
$color-grey: #54595f;
$color-grey-dark: #3b3b3b;
$color-grey-darker: #252525;
$color-grey-regular: #4a4a4a;
// $color-grey-regular: #7a7a7a;
$color-grey-regular: #b4b5b8;
// $color-grey-regular: #ffffffa6;
