$color-dark: #141414;
// $color-green-standard: #4bffa5;
// $color-green-standard: #37c756;
$color-green-standard: #c32865;
// $color-green-standard: #ff4579;
// $color-green-standard: #fdff7a;
// $color-green-standard: #ffcc00;
// $color-green-standard: #f59402;
// $color-green-standard: #0084ff;
$color-blue-regular: #009cff;
// $color-green-standard: #7AA2F7;
$color-green-react: #24fc89;
$color-green-inheritance: #8dff8d;
// $color-white: #d1dfff;
$color-white: #e7eeff;
// $color-white: #ffffff;
$color-grey: #54595f;
$color-grey-dark: #3b3b3b;
$color-grey-darker: #252525;
$color-grey-regular: #4a4a4a;
// $color-grey-regular: #7a7a7a;
$color-grey-regular: #b4b5b8;
// $color-grey-regular: #ffffffa6;
