$color-dark: #141414;
$color-green-standard: #4bffa5;
$color-green-inheritance: #8dff8d;
// $color-white: #d1dfff;
$color-white: #e7eeff;
// $color-white: #ffffff;
$color-grey: #54595f;
$color-grey-dark: #363636;
// $color-grey-dark: #4a4a4a;
// $color-grey-regular: #7a7a7a;
$color-grey-regular: #b4b5b8;
// $color-grey-regular: #ffffffa6;
