@import '@styles/base/palette';

.layout {
  background-color: $color-grey-darker;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
